body
{
  font-family:'PT Sans', 'Roboto', sans-serif;
  font-size: 1em;  
  line-height:1.5;
  
  background-color: rgba(3,22,52,1);
  color: rgba(205,179,128,1);
}

.cAppVisibleBody
{
  background-color:transparent;
}
.cAppVisibleBody:before
{
  content:'';
  display:block;
  width:100%;
  height:20vh;
  background-color: rgba(232,221,203,1);
  background-repeat:no-repeat;
  background-size:100% auto;
  background-position:50% 100%;
  background-image:url(../img/sheep170108-liquid-top.svg);
}



/* o o o o o o o o o o o o o o o o o o */

.sdDecorationBubbles
{
  position:static;
  width:14vh;
  max-width:94vw;
  height:21vh;
  margin:0 auto;
  transform:translate(-100%,0);
}
.sdDecorationBubbles svg
{
  width:100%;
  height:auto;
}


#BelkaBrowny
{
  padding-bottom:4vh;
}
#BelkaBrowny img
{
  display:block;
  width:94vw;
  max-height:42vh;
  margin:0 auto;
}